html {
	background-color: black;
	background: url(images/paper-prototyping.jpg) no-repeat fixed center center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	background-size: cover;
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 300;
	}
body {
	padding: 0;
	margin: 0;
	}
p,
li {
	line-height: 2;
	}
a {
	white-space: nowrap;
	}	
.gb .not-gb {
	display: none;
	}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


div {
	background-color: rgb(250,255,120);
	width: 65%;
	min-width: 46rem;
	max-width: 58rem;
	box-shadow: 0px 0rem 5rem rgba(16,0,32,0.5);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 7.5rem;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


h1 {
	font-weight: bold;
	font-size: 6.13rem;
	line-height: 0.9;
	margin-top: 7.5rem;
	padding-top: 6.5rem;
	margin-bottom: 2.6rem;
	color: rgb(177,174,81);
	text-align: center;
	}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


h2.what-i-do {
	text-align: center;
	text-transform: uppercase;
	font-size: 0.8rem;
	color: rgb(177, 174, 81);
	letter-spacing: 0.08rem;
	margin-top: 2rem;
	margin-bottom: 6.3rem;
	font-weight: 400;
	line-height: 1.8;
	}
	h2.what-i-do a {
		color: rgb(177,174,81);
		}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


p.call-to-action {
	font-size: 1.4rem;
	line-height: 1.4;
	text-align: center;
	margin-bottom: 7rem;
	}
	p.call-to-action a[href^="tel"] {
		color: rgba(0,0,0,0.9);
		text-decoration: none;
		font-weight: 400;
		font-size: 0.8em;
		}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


footer {
	background-color: rgb(208,208,100);
	font-weight: bold;
	height: 7.2rem;
	text-align: center;
	vertical-align: middle;
	}
	footer ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		}
	footer a,
	footer a:visited {
		color: rgb(251,255,129);
		font-weight: 500;
		letter-spacing: 0.05rem;
		text-decoration: none;
		}
		footer a:hover {
			position: relative;
			top: -1px;
			color: white;
			}
		footer a:active {
			top: 0;
			}
		@font-face {
			font-family: 'LigatureSymbols';
			src: url('/style/fonts/LigatureSymbols/LigatureSymbols-2.11.eot');
			src: url('/style/fonts/LigatureSymbols/LigatureSymbols.eot?#iefix') format('embedded-opentype'),
				 url('/style/fonts/LigatureSymbols/LigatureSymbols.woff') format('woff'),
				 url('/style/fonts/LigatureSymbols/LigatureSymbols.ttf') format('truetype'),
				 url('/style/fonts/LigatureSymbols/LigatureSymbols.svg#LigatureSymbols') format('svg');
			src: url('/style/fonts/LigatureSymbols/LigatureSymbols.ttf') format('truetype');
			font-weight: normal;
			font-style:  normal;
			}
		footer ul li {
			font-family: 'LigatureSymbols';
			-webkit-text-rendering: optimizeLegibility;
			   -moz-text-rendering: optimizeLegibility;
				-ms-text-rendering: optimizeLegibility;
				 -o-text-rendering: optimizeLegibility;
					text-rendering: optimizeLegibility;
			-webkit-font-smoothing: antialiased;
			   -moz-font-smoothing: antialiased;
				-ms-font-smoothing: antialiased;
				 -o-font-smoothing: antialiased;
					font-smoothing: antialiased;
			-webkit-font-feature-settings: "liga" 1, "dlig" 1;
			   -moz-font-feature-settings: "liga=1, dlig=1";
				-ms-font-feature-settings: "liga" 1, "dlig" 1;
				 -o-font-feature-settings: "liga" 1, "dlig" 1;
					font-feature-settings: "liga" 1, "dlig" 1;
			display: inline;
			font-size: 3.4rem;
			padding: 0rem 0.5rem;
			}
			footer ul li.mobile {
				display: none;
				}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


@media screen and (max-width: 45rem) {

	
	html {
		background: rgb(208,208,100);
		}

	
	div {
		width: inherit;
		margin: 0;
		min-width: 1px;
		box-shadow: none;
		}

	
	h1 {
		padding-top: 2rem;
		margin: 0;
		font-size: 4rem;
		}
		
		
	.what-i-do { /* 	get the items to appear in a centered list */
		width: 21rem;
		margin: auto;
		}

	
	p.call-to-action {
		margin: 0;
		}
		p.call-to-action a[href^="tel"] {
			background: #0097ff;				/* blue */
			color: white;						/* white */
			text-decoration: none;
			font-weight: 400;
			display: block;
			padding: 0.5rem;
			text-align: center;
			border-radius: 0.5rem;
			margin: 1.5rem auto 2rem auto;
			width: 12rem;
			}

	
	footer {
		margin-top: 2rem;
		}

	
	.desktop,
	footer ul li.desktop {
		display: none;
		}


}