html {
	background: url(images/paper-prototyping.jpg) no-repeat fixed center center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	background-size: cover;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-weight: 300;
	}
body {
	padding: 0;
	margin: 0;
	}
div {
	background-color: rgb(250,255,120);
	margin: 4vw;
	padding: 4vw;
	width: 38%;
	float: right;
	max-width: 40rem;
	min-width: 383px;
	box-shadow: 0px 1rem 3rem rgba(0,0,0,0.5);
}
h1 {
	font-weight: bold;
	font-size: 6rem;
	line-height: 0.9;
	margin-top: 0;
	margin-bottom: 2.5rem;
	max-width: 0;
	color: rgb(177,174,81);

/*force wrap*/
	}
h2 {
	font-size: 1rem;
	margin-top: 2rem;
	}

/* @group what-i-do */

h2.what-i-do {
text-transform: uppercase;
font-size: 0.85rem;
color: rgb(177, 174, 81);
letter-spacing: 0.05rem;
margin-bottom: 4vw;
font-weight: 400;
line-height: 1.8;
}
h2.what-i-do a {
	color: rgb(177,174,81);
	text-decoration: ;
}


/* @end */

p, li {
	line-height: 2;
	}
a {
	white-space: nowrap;
	}
a[href^="tel"] {
	color: black;
	text-decoration: none;
	font-weight: 500;
	}
footer ul {
	padding: 0 0 0 0;
	}
footer li {
	display: inline-block;
	margin-right: 1rem;
	}
footer li.mobile {
	display: none;
	}
.gb .not-gb {
	display: none;
	}
ul.contact {
	list-style-type: none;
	padding-left: 0;
}
ul.call-to-action {
	margin-left: 2rem;
}
.call-to-action li {
	margin-bottom: 0.5rem;
}
@media screen and (max-width: 435px) {
	p, li {
		line-height: 1.5;
		}
	html {
		background-image: none !important;
		background-color: #fff77a;
		}
	div {
		width: inherit;
		margin: 0;
		box-shadow: none;
		min-width: 1px;
		}
	h1 {
		font-size: 4rem;
		}
	a[href^="tel"] {
		background: #0097ff;
		color: #fefffe;
		text-decoration: none;
		font-weight: bold;
		display: block;
		padding: 0.5rem;
		text-align: center;
		border-radius: 0.5rem;
		margin-right: 5rem;
		margin-top: 1.5rem;
		margin-bottom: 2rem;
		}
	.desktop,
	footer {
		margin-top: 3rem;
		background-color: rgb(208,208,100);
		padding: 1rem;
	}
	.desktop,
	footer li.desktop {
		display: none;
		}
	footer ul {
		margin-left: 0;
		}
	footer li.mobile {
		display: inline-block;
		}
	footer a {
		color: rgb(251,255,129);
		font-weight: 500;
		letter-spacing: 0.05rem;
		text-decoration: none;
	}
		footer a:hover {
			position: relative;
			top: -1px;
			color: white;
		}
		footer a:active {
			top: 0;
		}
}